* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Bombardier';
    src: url('./resources/BOMBARD_.ttf');
}
body {
    width: 95vw;
    height: 100vh;
    font-family: Bombardier;
}

#gameplay-section {
    position: relative;
    width: 100%;
    height: 100%;
}

#dynamic-container {
    position: absolute;
    width: 100%;
    height: 100%;
}

.testsection {
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 5px solid red;
    z-index: 10;
}

.tile {
    position: relative;
    background-color: black;
    border: 1px solid blue;
    width: 50%;
    height: 50%;
}

@keyframes appear {
    0% {opacity: 0%;}
    100% {opacity: 100%}
}

.appear-animate {
    animation-name: appear;
    animation-duration: .5s;
    animation-delay: 0s;
}

@keyframes rise {
    0% {transform: translateY(0);}
    100% {transform: translateY(-50px);
          opacity: 0%;}
}

.rise-animate {
    animation-name: rise;
    animation-duration: 1s;
    animation-delay: 0s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.center {
    margin: 0 auto;
}

th, td {
    text-align: center;
    max-width: 9vw;
    min-width: 100px;
    height: 80px;
}


img {
    max-width: 9vw;
    min-width: 45px;
    max-height: 45px;
    margin-top: 5px;
}

.item-label {
    font-size: 12px;
    margin: 0 auto 5px;
}

table th {
    background-color: rgba(42,36,36, 90);
    color: #cd1c63;
    font-size: 1.1rem;
    text-shadow: 1px 1px #040303;
    border: 4px solid #352e2e;
}

table td {
    border: 1px solid black;
    color: #F6FFF0;
    text-shadow: 1px 1px #040303;
    background-color: #2f2f31;
    animation-name: appear;
    animation-duration: .5s;
    animation-delay: 0s;
}

#health-section {
    width: 30vw;
    margin: 0 auto;
    position: relative;
}

#flex-format {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

#health-bar {
    height: 25px;
    background-color: #5eae2f;
    margin-left: 0;
    text-align: center;
    border-left: 3px solid #408816;
    border-bottom: 3px solid #408816;
    border-top: 3px solid #85da54;
    border-right: 3px solid #85da54;
    transition: width .3s;
    transition-timing-function: ease-in-out;
}

#health-tag {
    position: absolute;
    color: #F6FFF0;
    margin: 0 auto;
    text-shadow: 1px 1px #040303;
    top: 14%;
    left: 42.5%;
}

#missing-health {
    display: block;
    border: 3px solid white;
    width: 0;
    margin-right: 0;
    transition: width .3s;
    transition-timing-function: ease-in-out;
}

#search-bar{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: middle;
}

#search-bar *{
    margin: 1vh auto;
}
/*#f3ff00*/
#test-square {
    width: 100px;
    height: 100px;
    background-color: red;
    border-left: 5px solid #9b0202;
    border-bottom: 5px solid #f65353;
    border-top: 5px solid #f65353;
    border-right: 5px solid #9b0202;
}